:host {
  .title {
    font-weight: bold;
    font-size: 2.8em;
    line-height: 0.8;
  }

  .logo {
  }

  .co-brand {

    .seperator {
      background-color: RGBA(0, 0, 0, 0.55);
    }

    .title {
      color: RGBA(0, 0, 0, 0.55);
      font-size: 2.2em;
      font-weight: lighter;
      line-height: 0.9;

      .acronym {
        font-size: 0.9em;
      }
    }
  }
}
