<div class="flex flex-col md:flex-row">
  <div class="flex flex-row">
    <img class="h-20" alt="UN Logo" src="assets/images/UN_emblem_blue.svg.png"/>
    <div class="title items-start ml-5 mt-1">
      <h1>United</h1>
      <h1>Nations</h1>
    </div>
  </div>
  <div class="co-brand flex flex-row mt-2 md:mt-1 mb-1">
    <div class="seperator ml-0 md:ml-6 w-0.5 invisible md:visible"></div>
    <div class="title ml-0 md:ml-6 pt-1">
      <h2>Universal Animal</h2>
      <h2>Identity <span class="acronym">(UNANID)</span></h2>
    </div>
  </div>
</div>
